@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
* {
  box-sizing: border-box;
}

html {
  overflow: hidden;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  
}

.title {
  font-size: 35px;
  color: #dbd8d8;
  text-transform: uppercase;
  position: absolute;
  z-index: 999;
  top: 80px;
  left: calc(50% - 111px);
}

.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  /* background-image: url("../images/top-bg.svg"), url('../images/bottom-bg.svg');
  background-repeat: no-repeat;
  background-position: calc(200px) calc(-50px), calc(0px) calc(400px); */
  background: rgb(1,0,14);
background: linear-gradient(180deg, rgba(1,0,14,1) 0%, rgba(9,9,140,1) 52%, rgba(0,0,1,1) 100%);
}

.add-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.add-box-2 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.add-box-3 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.btn-1 {
  width: 100%;
  max-width: 250px;
  padding: 20px;
  border: none;
  background: transparent;
  border-radius: 10px;
  color: #dbd8d8;
  font-weight: 700;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  box-shadow: 0px 0px 16px 0px rgba(255, 255, 255, 1);

}

.btn-2 {
  width: 100%;
  max-width: 200px;
  padding: 10px 20px;
  border: none;
  background: transparent;
  border-radius: 10px;
  color: #fff;
  border: 1px solid #fff;
  
  font-weight: 700;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  box-shadow: 0px 0px 16px 0px rgba(255, 255, 255, 5);
}


.hudud {
  width: 100%;
  max-width: 250px;
  height: 66px;
  padding: 20px;
  border: none;
  background-color: transparent;
  border-radius: 10px;
  color: #fff;
  border: 1px solid #fff;
  font-weight: 700;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  box-shadow: 0px 0px 16px 0px rgba(255, 255, 255, 1);
}

.box {
  display: none;
}

.box-2 {
  display: none;
}


.back-to {
  position: absolute;
  top: 30px;
  left: 30px;
  background-color: transparent;
  border: none;
  background-image: url('../images/arrow-turn-down-left.svg');
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: left center;
  font-size: 20px;
  color: #fff;
  padding-left: 25px;
  padding-bottom: 2px;
  font-weight: 300;
  text-decoration: underline;
}

.back-to-2 {
  position: absolute;
  top: 30px;
  left: 30px;
  background-color: transparent;
  border: none;
  background-image: url('../images/arrow-turn-down-left.svg');
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: left center;
  font-size: 20px;
  color: #fff;
  padding-left: 25px;
  padding-bottom: 2px;
  font-weight: 300;
  text-decoration: underline;
}

.back-to-3 {
  position: absolute;
  top: -50px;
  left: -30px;
  z-index: 5;
  background-color: transparent;
  border: none;
  background-image: url('../images/arrow-turn-down-left.svg');
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: left center;
  font-size: 20px;
  color: #fff;
  padding-left: 25px;
  padding-bottom: 2px;
  font-weight: 300;
  text-decoration: underline;
}

.back-to-4 {
  position: absolute;
  top: 30px;
  left: 30px;
  background-color: transparent;
  border: none;
  background-image: url('../images/arrow-turn-down-left.svg');
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: left center;
  font-size: 20px;
  color: #fff;
  padding-left: 25px;
  padding-bottom: 2px;
  font-weight: 300;
  text-decoration: underline;
}

.box {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.text-area {
  width: 100%;
  max-width: 250px;
  background-color: transparent;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  border: 1px solid #fff;
  
  font-weight: 400;
  font-size: 14px;
  resize: none;
  margin-bottom: 5px;
}

.text-area::placeholder {
  font-weight: 300;
  color: #fff;
  opacity: .7;
}

.form-box {
  width: 250px;
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.xona-select {
  width: 100%;
  max-width: 100px;
  display: block;
  background-color: transparent;
  border: 1px solid #fff;
  
  color: #fff;
  font-weight: 700;
  border-radius: 10px;
  font-size: 12px;
  padding: 5px 10px;
}

.label-text {
  font-size: 15px;
  margin: 0;
  color: #fff;
  margin-bottom: 5px;
}

.input-tel {
  width: 100%;
  max-width: 250px;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 10px;
  padding: 5px 10px;
  margin-top: 10px;
}

.input-tel::placeholder {
  font-weight: 300;
  color: #fff;
  opacity: .7;
}

.price-inp{
  width: 100%;
  max-width: 250px;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 10px;
  padding: 5px 10px;
}

.form-select{
  width: 100%;
  max-width: 250px;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 10px;
  padding: 2px 10px;
  margin-top: 10px;
  font-weight: 300;
  opacity: .7;
}

.price-inp::placeholder {
  font-weight: 300;
  color: #fff;
  opacity: .7;
}

.form-btn {
  display: block;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  margin-top: 10px;
  border-radius: 10px;
  padding: 5px 10px;
  margin-left: auto;
}

.form-btn-2 {
  display: block;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  margin-top: 10px;
  border-radius: 10px;
  padding: 5px 10px;
  margin-left: auto;
}

.form-btn:active {
  background-color: #fff;
  color: #000;
}

.form-box-2 {
  display: none;
  width: 250px;
  color: #fff;
}

.info-title {
  text-align: center;
  color: #fff;
}

.info-text {
  margin: 0;
  margin-bottom: 10px;
}

.js-info {
  width: 250px;
  height: 100px;
  overflow: scroll;
}

.form-info {
  display: flex;
  align-items: center;
  gap: 20px;
}

.form-elon {
  width: 300px;
  border: 1px solid #fff;
  padding: 20px;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  box-shadow: 0px 0px 16px 0px rgba(255, 255, 255, 1);
  border-radius: 10px;
}

.box-2 {
  position: absolute;
  top: 100px;
}